body{
    background: url(bbg.png) no-repeat center fixed;
}

.floating-form
{
    position: fixed;
    bottom: 250px;
    left: 100px;
    
    height: 500px;
    font-family: Manrope , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;

    justify-content: left;
    box-sizing: border-box;

    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 2.5rem rgb(0 0 0 / 10%);
    padding: 2.5rem;
    max-width: 40rem;
    margin-left: -5rem;

}
.title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.27;
    margin-bottom: 1rem;
    max-height:10rem ;
}
.form{
    max-height: 300px;
    display: block;
    margin-top:2px;
}
.emplacement{
    margin-bottom: 1rem;
    box-sizing: border-box;
    position: relative;
    font-size: 1.4rem;
}
.header-emp{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4a4a;


}
.live-field{
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    min-height: 2.7rem;
    border: 0.1rem solid #e6e6e6;
    border-radius: 0.4rem;
    background-color: #fff;
    padding: 0.5rem;
    transition: border-color .3s;
}
.live-input{
    border: 0;
    font-size: 1.4rem;
    color: #828282;
    margin-left: 2rem;
    
}
.counter{
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    position: relative;
    font-size: 1.4rem;
    display: flex;
}
.header-chambre{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}
.nb-bed{
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    min-height: 2rem;
    border: 0.1rem solid #e6e6e6;
    border-radius: 0.4rem;
    background-color: #fff;
    padding: 0.5rem;
    transition: border-color .3s;
    max-width:15rem ;
}
.flexi{
    display: flex;
}
.bed-input{
    width: 40px;
    border: none;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: normal;
}

.content-devis{
    margin-left: 150px;
}
.btn-devis{
    background-color: white;
    color: black;
    font-weight: 100;
    border-radius: 25px;
    width: 10rem;
    height: 40px;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 10px;
    display:flex;
    cursor: pointer;
}
.btn-estimate{
    position: center;
    background-color:#4343E7;
    color:white ;
    font-weight: 500;
    border-radius: 10px;
    width: 33rem;
    height: 60px;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    cursor: pointer;
}